@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #B6EAFF;
    --dark-blue: #112D4E;
    --gray: #2C3031;
    --light-gray: #7A8587;
    --dark-gray: #212527;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    font-family: "Fira Code", monospace;
}

main {
    width: clamp(420px, 800px, 90vw);
    margin: 3em 0 auto;
    padding: 3rem;
    border-radius: 10px;
    background-color: var(--dark-gray);
}

.header > h1 {
    color: var(--blue);
    text-align: center;
    font-size: 3em;
    margin-bottom: .2em;
}

.header > p {
    color: var(--light-gray);
    font-weight: 400;
    text-align: center;
    margin-bottom: 3em;
}

.password-container {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
    height: 9em;
    padding: 2em;
    background-color: var(--blue);
    box-shadow: 0 1px 2px var(--dark-gray);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.security-container {
    height: 0.625em;
    background-color: var(--light-gray);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.security-bar {
    height: 0.625em;
    width: 90%;
    background-color: var(--light-gray);
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: all 0.2s;
}

.security-bar.completed {
    border-top-right-radius: 0;
}
.security-bar.critical {
    background-color: #eb5757;
}
.security-bar.warning {
    background-color: #f2c94c;
}
.security-bar.safe {
    background-color: #27ae60;
}

.customize-container {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    font-weight: 500;
    padding-top: 1.5em;
    color: var(--light-gray);
}

.customize-checkbox {
    padding-top: 1.5em;
}

.checkbox-container {
    display: inline-block;
    position: relative;
    padding-right: 0.5em;
    padding-left: 1.5em;
    padding-bottom: 0.5em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.checkbox-container > input {
    position: relative;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
}

.checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.1em;
    width: 1.1em;
    border-radius: .1em;
    background-color: var(--gray);
    transition: all 1s;
}

.checkbox-container:hover > input ~ .checkmark {
    background-color: var(--light-gray);
}

.checkbox-container > input:checked ~ .checkmark {
    background-color: var(--blue);
}

.checkbox-container > .checkmark:after {
    content: "";
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 5px;
    height: 11px;
    border: solid var(--gray);
    border-width: 0 3px 3px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

.checkbox-container > input:checked ~ .checkmark:after {
    display: block;
}

#refresh-btn, #copy-btn {
    border: none;
    background-color: var(--blue);
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s;
    padding: 0.4em;
}

#password {
    width: 100%;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: .2em;
    border: none;
    outline: none;
    background-color: var(--blue);
    color: var(--gray);
    transition: all 1s;
}

#password-range {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    width: 100%;
    height: .8em;
    border-radius: 0.5em;
    margin-top: 1em;
    opacity: 0.6;
    transition: opacity 0.2s;
    background-color: var(--blue);
}
#password-range:hover {
    opacity: 1;
}

#password-range::-moz-range-track {
    background-color: var(--blue);
    height: 100%;
    border-radius: 0.5em;
    cursor: pointer;
}
#password-range::-moz-range-thumb {
    background-color: var(--dark-gray);
    cursor: pointer;
    width: 1.4em;
    height: 1.4em;
    border-radius: 1em;
}

#password-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    outline: var(--light-gray) 1px solid;
    background-color: var(--dark-gray);
    cursor: pointer;
    width: 1.3em;
    height: 1.3em;
    border-radius: 1em;
}

#ladybug {
    padding: 2em;
}

#ladybug > a {
    transition: all 1s;
}

#ladybug > a:hover {
    filter: brightness(0) saturate(100%) invert(20%) sepia(100%) saturate(1000%) hue-rotate(-10deg);
    transform: scale(1.1);
}